@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu','sans-serif';
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease;
}
.navbar .logo a:hover{
    color: crimson;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;

}
.navbar.sticky .menu li a:hover{
    color: aqua;
}
.navbar.sticky .logo a:hover{
    color: aqua;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.trangchu{
    display: flex;
    background: url("images/banner1.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu','sans-serif';
}
.trangchu .max-width{
    margin: auto 0 auto 40px;
}
.trangchu .trangchu-content .text-1{
    font-size: 27px;
}
.trangchu .trangchu-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.trangchu .trangchu-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.trangchu .trangchu-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
section{
    padding: 100px 0;
}
.ve, .linhvuc, .skills{
    font-family: 'Poppins', sans-serif;
}
section .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.ve .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}
.ve .ve-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.ve .ve-content, .linhvuc .linhvu-content, .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: space-between;
}
.ve .ve-content .left{
    width: 45%;
}
.ve .ve-content .right{
    width: 55%;
}
.ve .ve-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 16px;
}.ve .ve-content .right .text span{
    color: crimson;
}
.ve .ve-content .right p{
    text-align: justify;
}
.ve .ve-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.ve .ve-content .right a:hover{
    color: crimson;
    background: none;
}
.linhvuc{
    color: #fff;
    background: #111;
}
.linhvuc .linhvu-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}
.linhvuc .linhvu-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.linhvuc .linhvu-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transition: all 0.3s ease;
}
.linhvuc .linhvu-content .card .box{
    transition: all 0.3s ease;
}
.linhvuc .linhvu-content .card:hover .box{
    transform: scale(1.05);
}
.linhvuc .linhvu-content .card:hover{
    background: crimson;
}
.linhvuc .linhvu-content .card:hover i{
    color: #fff;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;

}
.skills .skills-content .right .information{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}











