*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.img{
    margin-top: 30px;
    width: 100px;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.purpose{
    width: 350px;
    margin-top: 140px;
}
.ra{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #f67c92;
}
.readmorebutton{
    margin-top: 20px;
    padding: 18px 40px;
    border: 2px solid #f67c92;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
.liness{
    line-height: 8px;
    margin-top: 60px;
}
.l1{
    display: inline-block;
    height: 2px;
    width: 80px;
    background: #f67c92;
}
.l2{
    display: inline-block;
    height: 1px;
    width: 60px;
    background: #f67c92;
}
.index{
    height: 100vh;
    background-image: url(https://i.ibb.co/jkMgq41/background.png);
    background-position: center;
    background-size: cover;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: #777777;
}
.leftcontainer2{
    flex-basis: 50%;
}
.leftcontainer2 img{
    width: 100%;
}
div{
    display: block;
}
.container2{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rightcontainer2{
    text-align: right;
    flex-basis: 50%;
}
.text{
    max-width: 500px;
    margin-right: 90px;
    display: inline-block;
}
.lines{
    line-height: 8px;
}
.text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.text h3{
    font-style: italic;
    font-size: 20px;
    color: #797979;
}
.hangngang{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hangngangitem img{
    width: 100px;
}
.hangngangitem h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
.hangngangitem{
    flex-basis: 25%;
    text-align: center;
}
.freetrial{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.freetrial .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
.line{
    line-height: 8px;
}
.line1{
    width: 15px;
    height: 15px;
    background-color: #f67c92;
    display: inline-block;
}
.line2{
    width: 80px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}
.line3{
    width: 60px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}
.button{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
.container4{
    padding: 100px 0;
}
.insidecontainer4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.leftcontainer4{
    flex-basis: 50%;
}
.lefttext{
    max-width: 350px;
}
.rightcontainer4{
    flex-basis: 50%;
}
.rightcontainer4 img{
    width: 100%;
}
.container5{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.leftcontainer5{
    flex-basis: 50%;
}
.leftcontainer5 img{
    width: 100%;
}
.rightcontainer5{
    flex-basis: 50%;
    text-align: right;
}
.textright{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.insidecontainer6{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.leftcontainer6{
    flex-basis: 50%;
}
form{
    margin: 30px 0;
    max-width: 350px;
}
form input{
    padding: 12px 10px;
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3cf;
}
.box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box button{
    flex-basis: 48%;
    padding: 18px 0;
}
.rightcontainer6{
    flex-basis: 50%;
}
.rightcontainer6 img{
    width: 100%;
}
.footer{
    padding: 50px 0 30px;
}
.insidefooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
hr{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #f67c92;
}
.leftfooter{
    flex-basis: 50%;
    margin-top: 60px;
}
.linhtinh{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.linhtinhitems h4{
    color: #fab3c4;
    margin-bottom: 20px;
}
.rightfooter{
    flex-basis: 35%
}
.footerinf{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.footertext{
    flex-basis: 40%;
}
.footerlogo{
    flex-basis: 40%;
}
.footerlogo img{
    width: 100px;
}
.footerlogo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.social{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.social img{
    width: 20px;
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;
}